{% extends 'base.html' %}

{% block head %}
<title>URL Saver</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome to URL amateurs!</h1>
            <p>The URL saver team welcomes you to the most cutting edge URL server website!</p>
            <p>
                <a class="btn btn-primary" href="/urls" role="button">Go To URLs &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}